.markTiles {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 3px solid rgba(169, 169, 169, 0.805);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0.7px grey;
  max-width: 800px;
}

.markTiles > img {
  height: 100px;
  border: 5px double black;
  border-radius: 10px;
}

.markButtons {
  display: flex;
  gap: 10px;
}
